@model RankingPatataios.Models.Set

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Set</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesGanhosJogador1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesGanhosJogador1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesGanhosJogador2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesGanhosJogador2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieBreakJogador1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieBreakJogador1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieBreakJogador2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieBreakJogador2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jogo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
